body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #e4d5b7;
}

header {
    background-color: #4A4A4A;
    color: white;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

header nav a:hover {
    color: #ff6347;
}

header form {
    display: flex;
    align-items: center;
}

header input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

header button {
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #202020;
}

main h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

figure {
    text-align: center;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

figure img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

figure img:hover {
    transform: scale(1.1);
}

figure figcaption {
    margin-top: 10px;
    font-size: 1.1em;
    color: #555;
}

.series{
    display: flex; 
    gap: 20px;
}

.series img{
    width: 200px;
    height: 300px;
}